@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(17, 86, 102);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1{
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
}
button{
  width: 380px;
  height: 80px;
  font-size:x-large;
}

.yellow{
  background-color: yellow;
}

p{
  font-size: 0.7em;
}